In [7]:
import pandas as pd

import json

def load_data() -> pd.DataFrame:
    df_lines = pd.read_json('output/2018-10-23T13:28:27.jl', lines=True)
    json_dict = json.loads(df_lines.to_json(orient='records'))
    return pd.io.json.json_normalize(json_dict, sep='_')

In [8]:
df = load_data()

In [11]:
df.columns

Index(['horse_age', 'horse_rating', 'horse_sex', 'horse_total_races',
       'horse_total_wins', 'jockey_num_1_place', 'jockey_num_2_place',
       'jockey_num_3_place', 'jockey_num_4_below', 'jockey_num_dirt_races',
       'jockey_num_dirt_wins', 'jockey_num_turf_races', 'jockey_num_turf_wins',
       'jockey_place_1_or_2_rate', 'jockey_place_1_rate',
       'jockey_place_any_rate', 'jockey_sum_earnings',
       'race_finisher_direction', 'race_finisher_distance_meters',
       'race_finisher_finish_time_seconds', 'race_finisher_horse_url',
       'race_finisher_jockey_url', 'race_finisher_order_of_finish',
       'race_finisher_participant_count', 'race_finisher_post_position',
       'race_finisher_race_date', 'race_finisher_race_location',
       'race_finisher_race_url', 'race_finisher_track_condition',
       'race_finisher_track_type', 'race_finisher_trainer_url',
       'race_finisher_weather', 'race_finisher_weight_carried',
       'trainer_num_1_place', 'trainer_num_2_place', 'trainer_num_3_place',
       'trainer_num_4_below', 'trainer_num_dirt_races',
       'trainer_num_dirt_wins', 'trainer_num_turf_races',
       'trainer_num_turf_wins', 'trainer_place_1_or_2_rate',
       'trainer_place_1_rate', 'trainer_place_any_rate',
       'trainer_sum_earnings'],
      dtype='object')

In [12]:
df.head()

,horse_age,horse_rating,horse_sex,horse_total_races,horse_total_wins,jockey_num_1_place,jockey_num_2_place,jockey_num_3_place,jockey_num_4_below,jockey_num_dirt_races,...,trainer_num_3_place,trainer_num_4_below,trainer_num_dirt_races,trainer_num_dirt_wins,trainer_num_turf_races,trainer_num_turf_wins,trainer_place_1_or_2_rate,trainer_place_1_rate,trainer_place_any_rate,trainer_sum_earnings
0,2.0,NaN,male,3.0,0,244.0,230.0,225.0,2722.0,1701.0,...,189.0,2145.0,853.0,51.0,1795,140.0,0.134,0.072,0.204,512345.6
1,7.0,NaN,male,27.0,4,320.0,372.0,431.0,6159.0,3708.0,...,153.0,2463.0,1586.0,69.0,1204,46.0,0.091,0.042,0.144,215361.3
2,5.0,NaN,castrated,18.0,2,135.0,147.0,153.0,1817.0,1127.0,...,139.0,1556.0,993.0,59.0,913,51.0,0.128,0.060,0.199,220185.8
3,NaN,NaN,male,37.0,3,210.0,232.0,220.0,4265.0,2486.0,...,203.0,2217.0,1648.0,144.0,1197,59.0,0.151,0.071,0.223,371383.3
4,4.0,NaN,female,12.0,3,244.0,230.0,225.0,2722.0,1701.0,...,106.0,1429.0,791.0,52.0,923,45.0,0.117,0.058,0.178,168271.2

In [13]:
df.describe()

,horse_age,horse_rating,horse_total_races,horse_total_wins,jockey_num_1_place,jockey_num_2_place,jockey_num_3_place,jockey_num_4_below,jockey_num_dirt_races,jockey_num_dirt_wins,...,trainer_num_3_place,trainer_num_4_below,trainer_num_dirt_races,trainer_num_dirt_wins,trainer_num_turf_races,trainer_num_turf_wins,trainer_place_1_or_2_rate,trainer_place_1_rate,trainer_place_any_rate,trainer_sum_earnings
count,58.000000,892.000000,108683.000000,108696.000000,108566.000000,108506.000000,108625.000000,108694.000000,107869.000000,106963.000000,...,108635.000000,108695.000000,108657.000000,108617.00000,108696.000000,108491.000000,108656.000000,108643.000000,108673.000000,1.086830e+05
mean,5.155172,3.373688,18.805618,1.698554,390.144207,362.514497,341.679365,2627.782104,1708.393385,181.593673,...,262.762305,2525.975178,1528.843222,117.42021,1662.917035,128.825313,0.155304,0.076932,0.235001,4.724676e+05
std,1.784944,0.452511,12.219328,1.843908,624.690181,512.516499,448.306301,2930.293086,2077.182278,296.307214,...,171.459962,1580.581611,930.607859,79.92890,1161.223813,114.166979,0.037150,0.022711,0.047716,4.079723e+05
min,2.000000,1.750000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,0.008000,0.010000,0.014000,1.750000e+02
25%,4.000000,3.000000,10.000000,0.000000,59.000000,65.000000,69.000000,713.000000,409.000000,27.000000,...,125.000000,1148.000000,689.000000,53.00000,766.000000,49.000000,0.128000,0.061000,0.199000,1.729175e+05
50%,5.000000,3.250000,16.000000,1.000000,155.000000,171.000000,175.000000,1661.000000,1020.000000,79.000000,...,227.000000,2383.000000,1537.000000,107.00000,1420.000000,97.000000,0.149000,0.073000,0.230000,3.722715e+05
75%,6.000000,3.710000,25.000000,3.000000,414.000000,406.000000,391.000000,3294.000000,2172.000000,174.000000,...,380.000000,3814.000000,2192.000000,161.00000,2345.000000,175.000000,0.177000,0.089000,0.266000,6.414724e+05
max,12.000000,4.440000,256.000000,23.000000,4005.000000,2968.000000,2393.000000,14815.000000,9828.000000,1853.000000,...,860.000000,8108.000000,4158.000000,417.00000,5968.000000,998.000000,1.000000,0.667000,1.000000,3.352707e+06